@charset "UTF-8";
.tnb span { padding: 1.5em; font-size:12px; color:#333; }
.tnb span:hover { color:deepskyblue; font-weight:700; text-decoration: underline; text-decoration-style:dotted; }
.tnb a { padding: 1.5em; font-size:12px; color:#333; }
.tnb a:hover { color:deepskyblue; font-weight:700; text-decoration: underline; text-decoration-style:dotted; }
@charset "UTF-8";
* { margin: 0; padding: 0; }
body, html { width:100%; }
ul { list-style:none; }
a { text-decoration: none; }
button, input { outline:0; background-color: #333; color:#fff; }
.wrap { width: 100%; clear:both; }